/* 
COMUNIDAD
*/

/* Contenedor principal de la sección */
.container {
    padding: 20px;
}

/* Contenedor de los apartados */
.apartados {
    display: flex;
    justify-content: space-around; /* Asegura que los apartados estén bien distribuidos */
    flex-wrap: wrap; /* Permite que los apartados se acomoden en pantallas pequeñas */
    margin-top: 30px;
}

/* Cada Apartado */
.apartado {
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.863); 
    transition-duration: 0.5s;
    max-width: 350px; /* Limita el tamaño de los apartados */
    text-align: center;
    margin-bottom: 20px; /* Espacio entre los apartados */
}

.apartado:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Estilos del título de cada apartado */
.apartado h2 {
    color: #000000;
}

/* Estilos de las imágenes en cada apartado */
.apartado img {
    height: 200px;
    width: auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.651); 
    border-radius: 5px;  
    margin-top: 20px;
}

/* Estilo de los enlaces dentro de los apartados */
.apartado a {
    color: #0F3460;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}

.apartado a:hover {
    color: #E94560;
}
