.container {
    padding: 5px;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Centra en toda la pantalla */
  }
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Centra en toda la pantalla */
}

.logo_reg {
  width: 170px;
  height: auto;
  cursor: pointer;
  transition-duration: 0.5s;
}

.logo_reg:hover {
  transform: scale(1.1);
}

.form_registro {
  background-color: rgba(255, 255, 255, 0.541);
  border-radius: 5px;
  padding: 50px;
  width: 300px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.form_registro h2 {
  color: black;
}
input {
  display: block;
  width: 95%; /* Que ocupe todo el ancho */
  padding: 8px;
  margin: 10px 0; /* Espacio entre inputs */
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #e94560;
  color: white;
  border: none;
  padding: 10px;
  width: 100%; /* Igual que los inputs */
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition-duration: 0.5s;
}

button:hover {
  border: 1px solid #e94560;
  background-color: #cccccc00;
  color: #e94560;
}
