/* Estilos para el título */
.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.titulo img {
  width: 120px;
  height: auto;
  cursor: pointer;
  transition-duration: 0.5s;
}

.titulo img:hover {
  transform: scale(1.1);
}

.titulo h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px;
  text-align: center;
}

/* Cabecera */
header {
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  align-items: center;
}

/* Navegación */
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
}

nav a {
  /* Enlaces de navegación */
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  /* Enlaces de navegación: hover */
  color: #e94560;
}

/* Ajuste del menú desplegable */
.dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-width: 180px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .dropdown-menu a {
    padding: 12px 15px;
    color: white;
    text-decoration: none;
    display: block;
    transition: background 0.3s;
  }