/* Pie de página */
footer {
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  color: white;
  text-align: center;

}

/* Estilos adicionales para el pie de página */
footer p {
  font-size: 0.9rem;
  margin: 0;
}
