

main {
  flex: 8; /* Expande el contenido para empujar el footer hacia abajo */
}

footer {
  margin-top: 500px;
  padding: 20px;
  backdrop-filter: blur(10px);
  color: rgb(0, 0, 0);
  text-align: center;
}
