:root {
    --primary-color: #007BFF; /* Azul eléctrico */
    --secondary-color: #E1306C; /* Rosa vibrante */
    --background-light: #FFFFFF; /* Fondo claro */
    --background-dark: #121212; /* Fondo oscuro */
    --card-bg: #F0F2F5; /* Fondo de tarjetas */
    --text-color: #333333; /* Texto principal */
    --icon-color: #666666; /* Iconos */
    --hover-color: rgba(225, 48, 108, 0.8);
  }
  /* Fondo de video */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Detrás del contenido */
}

/* Ajustes del video para que cubra toda la pantalla */
#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Ajusta el video sin deformarlo */
    transform: translate(-50%, -50%);
}

/* Overlay oscuro con desenfoque para mejorar la visibilidad del contenido */
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscurece el video */
    backdrop-filter: blur(5px); /* Efecto de desenfoque */
}

.triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 200vw solid transparent; /* Abarca todo el ancho */
    border-bottom: 550px solid #eeeeee; /* Aumentamos la altura */
  }
  
  /* Asegurar que el contenedor principal tenga position relative */
  .container {
    position: relative;
  }
  
  /* Contenedor principal */
  .container_ini {
    margin-top: 50%;
    margin: 4%;
    background-color: var(--background-light);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

/* Ajustes en el body */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    background-attachment: fixed;
    height: 100%;
}

/* Contenedor que genera React */
#root {
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
}

/* Secciones con fondo translúcido */
.services {
    margin: 40px 0;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); /* Transparente para que se vea el video */
    border-radius: 15px;
    backdrop-filter: blur(10px);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 1; /* Sobre el video */
}

/* Página responsive */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    .container {
        padding: 30px 10px;
    }
    section {
        padding: 15px;
    }
}
